
.main-container.on {filter: blur(50px);}
.detail-container.on {filter: blur(50px);}
.contact-section.on {filter: blur(10px);}
.ath-container.on {filter: blur(30px);}
.account-container.on {filter: blur(20px);}
.shop-container.on {filter: blur(50px);}
section.main.on {filter: blur(10px);}
